<div id="ajax-status" style="float:left; position:absolute; display:none; margin: 0% 33%; z-index: 3000"><%= image_tag("ajax-loader.gif") %></div>
<p id="friends_end"><%= link_to 'Terminar', next_wizard_path %></p>
<% if @users.any? %>
  <%= render @users %>
<% end %>