<div id="ajax-status" style="float:left; position:absolute; display:none; margin: 0% 33%; z-index: 3000"><%= image_tag("ajax-loader.gif") %></div>
<div class="row">
  <div class="span8">
  	<p id="main_header_menu" style="font-size:2.6em; font-weight:lighter; line-height:1.2em; color:#555; font-family:nimbus-sans, Helvetica Neue; margin-top:1em;">Te presentamos a otros fashion lovers</p>
  </div>
  <div class="span1 offset1">
    <div class="numberCircleOff">1</div>
    <p style="text-align:center">Nickname</p>
  </div>
  <div class="span1">
    <div class="numberCircleOn">2</div>
    <p style="text-align:center"><b>Fashion Lovers</b></p>
  </div>
  <div class="span1">
    <div class="numberCircleOff">3</div>
    <p style="text-align:center">Colecciones</p>
  </div>
</div>
<p id="user_steps_friends"><%= link_to 'Siguiente', next_wizard_path, :class => "button-want" %></p>
<div class="row">
  <div class="span10">
  	<% if @users.any? %>
  	  <ul>
  		<%= render @users %>
  	  </ul>
    <% end %>
  </div>
</div>