<span id="headline_color">
<% if feed_item.activitable_type == "Product" && feed_item.action == "create" %>	
	agregó 
	<% if feed_item.activitable.nil? %>
	<% else %>
	<span id="item_link"><%= link_to feed_item.activitable.title, product_path(feed_item.activitable) %></span>
	a sus <span id="user_and_items_link"><%= link_to "Items", user_path(feed_item.user) %></span>.
	<% end %>

<% elsif feed_item.activitable_type == "Product" && feed_item.action == "like"  %>
	<span style="color:red">loves</span> <span id="item_link_likes"><%= link_to feed_item.activitable.title, 
														product_path(feed_item.activitable) %></span>
<% end %>
</span>