<p><img src="http://i1246.photobucket.com/albums/gg616/soxialit/isa_760xN_zps20a3fc08.png" border="0" alt=" photo isa_760xN_zps20a3fc08.png"/></p><br />
<p style="font-size:2em; font-family:acta-display">Tanya Mulki - <a style="font-size:0.8em" href="#">@TanyaMulki</a></p><br />
<p style="font-size:1.6em; font-family:acta-display; text-align:center">"Voracious consumer of fashion, music, trends and style"</p><hr />
<p style="font-size:1em; font-family:acta-display">Nací en México pero soy hija de padres Polacos, estudié en The London College of Fashion, regresé a mi país en 2010 y funde Tanya Mulki.<br /><br />
He aprendido a combinar historias personales y laborales en prendas que cuentan una parte de mi vida y que se adaptan al momento y al espacio de quien las usa.<br /><br />
Mi estudio, el cual comparto con otros diseñadores independientes, está localizado dentro de la bella Colonia Roma.<br /><br />
Cada prenda es especial, como lo es cada uno de los clientes a quienes sirve lo que hago. Envío mis productos dentro y fuera de México. Encuentra mi <a href="#">perfil</a> en Soxialit y sígueme.
 </p><hr />

<p style="font-size:1.2em; font-family:acta-display"><i class="icon-map-marker"></i> Colima 333 Col. Roma Norte. México. D.F. </p>
<p style="font-size:1.2em; font-family:acta-display"><i class="icon-globe"></i> <a href="#">tanyamulki.com</a></p>
<p style="font-size:1.2em; font-family:acta-display"><i class="icon-flag"></i> The London College of Fashion</p>