<p><%= image_tag "missviva_bio.png" %></p><br />
<p style="font-size:2em; font-family:acta-display">Roxanna Mulki </p><br />
<p style="font-size:1.6em; font-family:acta-display; text-align:center">"Vibre la Vie, Miss Viva!"</p><hr />
<p style="font-size:1em; font-family:acta-display">Miss Viva se creó con la ilusión de ofrecer a nuestros clientes joyería y accesorios súper trendy para todos los estilos a un precio súper accesible.<br /><br />
Creemos que un accesorio con personalidad le da un "je ne se qua" a cualquier outfit que lo hará lucir fuera de serie.<br /><br />
Conóce nuestros productos y enamorate de ellos.<br /><br />
Vibre la Vie, Miss Viva!
 </p><hr />
<p style="font-size:1em; font-family:nimbus-sans"><i class="icon-map-marker"></i> Tampico, México D.F. y Salina Cruz.</p>
<p style="font-size:1em; font-family:nimbus-sans"><i class="icon-flag"></i> The London College of Fashion</p>