<%= @items.each do |item| %>
  		<div class="frame_item_designers">
			<div class="designer_photos">
				<%= link_to image_tag(item.picture.image_url(:picture_300)), item)
			</div>
			<div class="designer_info">
			  	<p style="font-size:1.2em; font-family:acta-display; text-align:center"><%= item.title%></p>
				<p style="font-size:1.2em; font-family:acta-display; text-align:center"><%= item.price %></p>
			</div>
		  </div>
		  <br />
		  <p style="font-size:1.2em; margin-top:1em; font-family:acta-display; text-align:left">*Envíos Gratis en cualquier compra.</p>
	  	</div>
<% end %>