
<% if @new.any? %>
  <ol class="microposts">
	<div id="ajax_trend_stories">
	  <%= render :partial => 'static_pages/list', :collection => @trend, :as => :story   %>
	</div>  
  </ol>
<% else %>
	<h3>Sé el primero en compartir una historia.</h3>
<% end %>

<script>
$(function(){
    $('.square_link').live('click', function(){
      $('.lista_link').css('color', 'rgb(0, 136, 204)');
      $(this).css('color', 'red');
    });

    $('.lista_link').live('click', function(){
      $('.square_link').css('color', 'rgb(0, 136, 204)');
      $(this).css('color', 'red');
    })


  });

$(function() {
 
  jQuery(function(){
    if ($('.pagination').length) {
      var url;
      //$('#paginate').show();
      $('#paginate').bind('click', function(){
        url = $('.pagination .next_page').attr('href');
        return $.getScript(url);
      });
    }
  });
});

$(function(){
  var a = $('.pagination').find('a').length;
  if (a < 0){
    $('#paginate').hide();
  }
});

$(function() {
  $('body').bind('ajaxComplete', function() {
   var a = $('.pagination').find('a').length;
    if (a < 1){
      $('#paginate').hide();
    }
  });
});

</script>