
<% if @new.any? %>
  <ol class="microposts">
	<div id="ajax_new_stories">
	  <%= render :partial => 'static_pages/list', :collection => @new, :as => :story   %>
	</div>  
  </ol>
  <div class="row">
    <div style="display:none" class="span5 offset2">
      <%= will_paginate @new %>
    </div>
  </div>
  <div style="display:block" class="container">
  <div style="display:block" class="row">
    <div style="display:block;" class="span10 offset1">
      <div  style="display:block; margin:1em; font-size:1.4em" class="show_more" id="paginate">Ver más historias</div>
    </div>
  </div>
</div>
<% else %>
	<h3>Sé el primero en compartir una historia.</h3>
<% end %>

<script>
$(function(){
    $('.square_link').live('click', function(){
      $('.lista_link').css('color', 'rgb(0, 136, 204)');
      $(this).css('color', 'red');
    });

    $('.lista_link').live('click', function(){
      $('.square_link').css('color', 'rgb(0, 136, 204)');
      $(this).css('color', 'red');
    })


  });

$(function() {
 
  jQuery(function(){
    if ($('.pagination').length) {
      var url;
      //$('#paginate').show();
      $('#paginate').bind('click', function(){
        url = $('.pagination .next_page').attr('href');
        return $.getScript(url);
      });
    }
  });
});

$(function(){
  var a = $('.pagination').find('a').length;
  if (a < 0){
    $('#paginate').hide();
  }
});

$(function() {
  $('body').bind('ajaxComplete', function() {
   var a = $('.pagination').find('a').length;
    if (a < 1){
      $('#paginate').hide();
    }
  });
});

</script>