<div class="container-fluid">
<div class="row-fluid">
 <div class="span4">
   <div class="sidebar-nav sidebar-nav-fixed">
    <p>yooko</p>
    <%= image_tag "dos.jpg" %>
   </div><!--/.well -->
 </div><!--/span-->
 <div class="span7">
 	<h2>Yooko Ono</h2>
    <p>hi guys,
Is there a way to convert fixed layout design of www.thefunnyquotessayings.com to a responsive design ? I am not a highly technical person. Just wondering if there are any tools to convert the site to responsive design. Thank you waiitng for your reply.</p>
<p>hi guys,
Is there a way to convert fixed layout design of www.thefunnyquotessayings.com to a responsive design ? I am not a highly technical person. Just wondering if there are any tools to convert the site to responsive design. Thank you waiitng for your reply.</p><p>hi guys,
Is there a way to convert fixed layout design of www.thefunnyquotessayings.com to a responsive design ? I am not a highly technical person. Just wondering if there are any tools to convert the site to responsive design. Thank you waiitng for your reply.</p><p>hi guys,
Is there a way to convert fixed layout design of www.thefunnyquotessayings.com to a responsive design ? I am not a highly technical person. Just wondering if there are any tools to convert the site to responsive design. Thank you waiitng for your reply.</p><p>hi guys,
Is there a way to convert fixed layout design of www.thefunnyquotessayings.com to a responsive design ? I am not a highly technical person. Just wondering if there are any tools to convert the site to responsive design. Thank you waiitng for your reply.</p><p>hi guys,
Is there a way to convert fixed layout design of www.thefunnyquotessayings.com to a responsive design ? I am not a highly technical person. Just wondering if there are any tools to convert the site to responsive design. Thank you waiitng for your reply.</p><p>hi guys,
Is there a way to convert fixed layout design of www.thefunnyquotessayings.com to a responsive design ? I am not a highly technical person. Just wondering if there are any tools to convert the site to responsive design. Thank you waiitng for your reply.</p><p>hi guys,
Is there a way to convert fixed layout design of www.thefunnyquotessayings.com to a responsive design ? I am not a highly technical person. Just wondering if there are any tools to convert the site to responsive design. Thank you waiitng for your reply.</p><p>hi guys,
Is there a way to convert fixed layout design of www.thefunnyquotessayings.com to a responsive design ? I am not a highly technical person. Just wondering if there are any tools to convert the site to responsive design. Thank you waiitng for your reply.</p><p>hi guys,
Is there a way to convert fixed layout design of www.thefunnyquotessayings.com to a responsive design ? I am not a highly technical person. Just wondering if there are any tools to convert the site to responsive design. Thank you waiitng for your reply.</p><p>hi guys,
Is there a way to convert fixed layout design of www.thefunnyquotessayings.com to a responsive design ? I am not a highly technical person. Just wondering if there are any tools to convert the site to responsive design. Thank you waiitng for your reply.</p><p>hi guys,
Is there a way to convert fixed layout design of www.thefunnyquotessayings.com to a responsive design ? I am not a highly technical person. Just wondering if there are any tools to convert the site to responsive design. Thank you waiitng for your reply.</p><p>hi guys,
Is there a way to convert fixed layout design of www.thefunnyquotessayings.com to a responsive design ? I am not a highly technical person. Just wondering if there are any tools to convert the site to responsive design. Thank you waiitng for your reply.</p><p>hi guys,
Is there a way to convert fixed layout design of www.thefunnyquotessayings.com to a responsive design ? I am not a highly technical person. Just wondering if there are any tools to convert the site to responsive design. Thank you waiitng for your reply.</p><p>hi guys,
Is there a way to convert fixed layout design of www.thefunnyquotessayings.com to a responsive design ? I am not a highly technical person. Just wondering if there are any tools to convert the site to responsive design. Thank you waiitng for your reply.</p>
 </div><!--/span-->
</div><!--/row-->

</div><!--/.fluid-container-->