<p style="font-size:4.5em; text-align:center; color:white; font-family:Lobster; margin-bottom:0.5em">Soxialit</p>
<p style="font-size:1.2em; text-align:center; color:#999; font-family:acta-display; margin-bottom:1em">La red social de artistas, creativos y personas que aman la moda.</p>
<p><%= image_tag "LP.png" %></p><br/ >
<p style="text-align:center"><%= link_to "Crea tu perfil", user_omniauth_authorize_path(:facebook), class: "button-want" %></p>
<hr />