<p style="font-size:4.5em; text-align:center; color:white; font-family:Lobster; margin-bottom:0.5em">Soxialit</p>
<p style="font-size:1.2em; text-align:center; color:#999; font-family:acta-display; margin-bottom:1em">La red social de artistas, creativos y personas que aman la moda.</p>
<p><%= image_tag "LP.png" %></p><br/ >
<p style="text-align:center"><%= link_to "Crea tu perfil", user_omniauth_authorize_path(:facebook), class: "button-want" %></p>
<hr />
<% @fotografos.each do |user| %>
	<div style="margin-top:1%; margin-left:50px" class="span1">
		<% if !user.picture.present? %>
			<%= link_to image_tag("http://graph.facebook.com/#{user.uid}/picture?type=square", 
						width: 50, height: 50, :id =>  "nickname_small_picture"), "" %>
		<% else %>
			<%= link_to image_tag(user.picture_url(:thumb_profile), :id => "nickname_small_picture"), 
						"" %>
		<% end %>
		<hr/>
  	</div>
<% end %>
<br />
<br />

<script type="text/javascript">
mixpanel.track("Registro")
</script>