<div class="row-fluid">
  <div class="span4" id="about_menu" style="width:29%; margin-left:0px; border-right: 1px solid rgba(0, 0, 0, 0.0976563)">
  	<%= image_tag "profilepic.png" %>
  </div>
  <div class="span10">
    <div style="margin-left:33%; width:60%; padding:2em">
      <p id="test_menu"><%= link_to "Items", items_path, remote: true %> | <%= link_to "Bio", biografia_path, remote: true %></p>
      <hr />
      <div id="ajax">
      	<div class="frame_item_designers">
			<div class="designer_photos">
				<img src="http://i1246.photobucket.com/albums/gg616/soxialit/GoogleChrome11_zps2cab3150.png" border="0" alt=" photo GoogleChrome11_zps2cab3150.png"/>
			</div>
			<div class="designer_info">
			  	<p style="font-size:1.2em; font-family:acta-display; text-align:center">Abrigo de Piel</p>
				<p style="font-size:1.2em; font-family:acta-display; text-align:center">$1800</p>
			</div>
		  </div>
		  <div class="frame_item_designers">
			<div class="designer_photos">
				<img src="http://i1246.photobucket.com/albums/gg616/soxialit/GoogleChrome10_zps3cf6a6f0.png" border="0" alt=" photo GoogleChrome10_zps3cf6a6f0.png"/>
			</div>
			<div class="designer_info">
			  	<p style="font-size:1.2em; font-family:acta-display; text-align:center">Clutch Github</p>
				<p style="font-size:1.2em; font-family:acta-display; text-align:center">$650</p>
			</div>
		  </div>
		  <div class="frame_item_designers">
			<div class="designer_photos">
				<img src="http://i1246.photobucket.com/albums/gg616/soxialit/GoogleChrome9_zps6810f815.png" border="0" alt=" photo GoogleChrome9_zps6810f815.png"/>
			</div>
			<div class="designer_info">
			  	<p style="font-size:1.2em; font-family:acta-display; text-align:center">Falda Estampada</p>
				<p style="font-size:1.2em; font-family:acta-display; text-align:center">$850</p>
			</div>
		  </div>
		  <div class="frame_item_designers">
			<div class="designer_photos">
				<img src="http://i1246.photobucket.com/albums/gg616/soxialit/LittleSnapper3_zpsc1b72967.png" border="0" alt=" photo LittleSnapper3_zpsc1b72967.png"/>
			</div>
			<div class="designer_info">
			  	<p style="font-size:1.2em; font-family:acta-display; text-align:center">Bolsa estampada</p>
				<p style="font-size:1.2em; font-family:acta-display; text-align:center">$500</p>
			</div>
		  </div>
		  <div class="frame_item_designers">
			<div class="designer_photos">
				<img src="http://i1246.photobucket.com/albums/gg616/soxialit/LittleSnapper_zps37becb31.png" border="0" alt=" photo LittleSnapper_zps37becb31.png"/>
			</div>
			<div class="designer_info">
			  	<p style="font-size:1.2em; font-family:acta-display; text-align:center">T-Shirt Yak</p>
				<p style="font-size:1.2em; font-family:acta-display; text-align:center">$450</p>
			</div>
		  </div>
		  <div class="frame_item_designers">
			<div class="designer_photos">
				<img src="http://i1246.photobucket.com/albums/gg616/soxialit/LittleSnapper2_zps69ec2ee9.png" border="0" alt=" photo LittleSnapper2_zps69ec2ee9.png"/>
			</div>
			<div class="designer_info">
			  	<p style="font-size:1.2em; font-family:acta-display; text-align:center">Sandalias de piel</p>
				<p style="font-size:1.2em; font-family:acta-display; text-align:center">$650</p>
			</div>
		  </div>
		  <br />
		  <p style="font-size:1.2em; margin-top:1em; font-family:acta-display; text-align:left">*Envíos Gratis en cualquier compra.</p>
	  	</div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){

	$('#profile_nav_botton').css({ boxShadow: '1px 3px 6px #444' });
});
	
$('.frame_item_designers').live({
	mouseenter: 
	function(e){
		$(this).css("box-shadow", "0px 1px 1px 3px #d0d0d0");
		
	},
	mouseleave:
	function (e){
		e.preventDefault();
		$(this).css("box-shadow", "none");
	}
});	
</script>