<div class="row-fluid">
  <div class="span4" id="about_menu" style="width:29%; margin-left:0px; border-right: 1px solid rgba(0, 0, 0, 0.0976563)">
  	<%= image_tag "profilepic.png" %>
  </div>
  <div class="span10">
    <div style="margin-left:33%; width:60%; border: 1px solid rgba(0, 0, 0, 0.0976563); padding:2em">
      <p id="test_menu"><%= link_to "Items", faq_path, remote: true %> | <%= link_to "Bio", privacy_path, remote: true %></p>
    </div>
  </div>
</div>