<div style="margin-left:0%" class="span12" id="about_rightside">
	<div class="hero-unit">
		<h2>Convierte en un Partner de Soxialit</h2>
		<h3 class="small_feed"><strong>Soxialit</strong> pone tu talento ante miles de personas</h3>
		<div class="small_feed">Si eres un diseñador ó una boutique envianos tus datos para convertirte en Partner.</div>
		<hr>
		<%= render 'form' %>
	</div>
</div>

	<script type="text/javascript">mixpanel.track("Feedback Page Loaded")</script>