<p id="titleMainIdea">Descubre miles de items, prendas y accesorios creados por diseñadores emergentes.</p><hr/ >
<div id="about_body">
  <h2>¿Por qué comprar en Soxialit?</h2>
  <div class="row">
	  <div id="sell_designer">
	  	<span class="span4 offset1">
	  		<%= image_tag 'buy.jpg' %>
	  	</span>
	  	<span class="span7">
  		  <br/ >
  		  <p style="margin-left:2%">- Conecta con tus diseñadores favoritos.</p>
  		  <p style="margin-left:2%">- Encuentra items únicos creados por personas que <i>aman</i> lo que hacen.
  		  </p>
  		  <p style="margin-left:2%">- Ayúda al talento emergente a que continuen transformando su <i>pasión</i> en un estilo de vida.</p>
	  	</span>
	  </div>
	  <br/ >
  </div><br />
  <h2>Realizar una compra es muy sencillo</h2>
  <div class="row">
  	<span class="span2 offset1">
  		<h2 style="text-align:center">1</h2>
  	</span>
  	<span class="span8">
  		<p>Crea una cuenta en Soxialit y selecciona cualquier perfil.<br /><span style="font-size:0.8em">*Ingresa tu Código Postal para ver en tiemo real el precio final de los productos incluyendo el envío.</span></p>
  		<hr />
  	</span>
  </div>
  <div class="row">
  	<span class="span2 offset1">
  		<h2 style="text-align:center">2</h2>
  	</span>
  	<span class="span8">
  		<p>Una vez hayas dado click en comprar, selecciona el tipo de envío y finaliza la compra.</p>
  		<hr />
  	</span>
  </div>
  <div class="row">
  	<span class="span2 offset1">
  		<h2 style="text-align:center">3</h2>
  	</span>
  	<span class="span8">
  		<p>Cuando el pago sea registrado recibirás un email con la información personal del vendedor, quien te proporcionará un número de guía para rastrear el envío.</p>
  		<hr />
  	</span>
  </div><br />
  <h2>Soxialit protege tu dinero</h2>
  <div class="row">
  	<span class="span10 offset1">
  		<p>Tu pago estará protegido y nos aseguraremos de que el vendedor envíe tu producto en las mejores condiciones posibles.<br /><span style="font-size:0.8em">* Las políticas de devolución son establecidas por cada vendedor y son visibles en la página principal del producto.</p>
  	</span>
  </div>
</div>