<h2>Preguntas Frecuentes</h2>
<div id="about_body">
  <h3>¿Qué métodos de pago aceptan?</h3>
  <p>Aceptamos Tarjeta de Crédito o Débito a través de PayPal y Mercado Pago, Depósito Bancario y Pagos en efectivo en OXXO.</p>
  <h3>¿Cuánto tiempo tardará en llegar mi ordén?</h3>
  <p>El tiempo de envío depende de la opción que hayas elegido al momento de realizar tu compra. El vendedor tiene la obligación de proveerte información precisa o un número de guía del envío.</p>
  <h3>¿Cuánto cuesta vender a través de Soxialit?</h3>
  <p>Depende del plan que seleccionas al momento de listar un producto. Revisa la sección <i>Vender</i>.</p>
  <h3>¿Por qué fue rechazado mi item?</h3>
  <p>Si tu producto no fue listado después de 12 horas se debe a que las fotos o la información que proporcionaste no cumplen con los lineamientos de Soxialit. Revisa los ejemplos y la guía que elaboramos para ti en la sección <i>Guía de Fotos</i>.</p>
  <h3>¿Tengo otra oportunidad de que mi item sea listado?</h3>
  <p>Sí. En caso de que tu item no haya sido aprobado, puedes editarlo.</p>
  <h3>¿Dónde están ubicados?</h3>
  <p>Colima 333. Colonia Roma. México DF.</p>
  <h3>¿Cuál es la manera más sencilla de comunicarme con ustedes?</h3>
  <p>Escríbenos un Tweet a <a href="https://twitter.com/soxialit">@Soxialit</a> o un email a 
  <a href="mailto:info@soxialit.com?Subject=FAQ">info@soxialit.com</a>.</p>
</div>