<h2>Preguntas Frecuentes</h2>
<div id="about_body">
  <h3>¿Qué métodos de pago aceptan?</h3>
  <p>Aceptamos Tarjeta de Crédito o Débito a través de PayPal y Mercado Pago, Depósito Bancario y Pagos en efectivo en OXXO.</p>
  <h3>¿Cuánto tiempo tardará en llegar mi ordén?</h3>
  <p>El tiempo de envío depende de la opción que hayas elegido al momento de realizar tu compra. El vendedor tiene la obligación de proveerte información precisa o un número de guía del envío.</p>
  <h3>¿Cuánto cuesta vender a través de Soxialit?</h3>
  <p>Durante la versión BETA, el costo por transacción es de $15 MXN más 5% sobre el monto total que es retenido por el proveedor del sistema de pagos.<br /> (<i>Ejemplo</i>. Camiseta con valor de $100 MXN: Soxialit obtiene $15 MXN y PayPal $5 MXN -correspondientes al 5% del importe total.)
  </p>
  <h3>¿Tiene algún costo subir mis items?</h3>
  <p>NO, puedes subir los items que quieras sin costo alguno siempre que cumplas con los requisitos para que tus items sean listados.</p>
  <h3>¿Por qué fue rechazado mi item?</h3>
  <p>Si tu producto no fue listado después de 12 horas se debe a que las fotos que proporcionaste no cumplen con los lineamientos de Soxialit: <i>fondo de color blanco o claro que promuevan la visibilidad del producto</i>.</p>
  <h3>¿Cuál es la manera más sencilla de comunicarme con ustedes?</h3>
  <p>Escríbenos un Tweet a <a href="https://twitter.com/soxialit">@Soxialit</a> o un email a 
  <a href="mailto:info@soxialit.com?Subject=FAQ">info@soxialit.com</a>.</p>
</div>