<p id="titleMainIdea">Somos diseñadores,  </p><hr/ >
<div id="about_body">
  <h2>¿Por qué comprar en Soxialit?</h2>
  <div class="row">
	  <div id="sell_designer">
	  	<span class="span4 offset1">
	  		<%= image_tag 'buy.jpg' %>
	  	</span>
	  	<span class="span7">
  		  <br/ >
  		  <p style="margin-left:2%">- Conecta con tus diseñadores favoritos.</p>
  		  <p style="margin-left:2%">- Encuentra items únicos creados por personas que <i>aman</i> lo que hacen.
  		  </p>
  		  <p style="margin-left:2%">- Ayúda al talento emergente a que continuen transformando su <i>pasión</i> en un estilo de vida.</p>
	  	</span>
	  </div>
	  <br/ >
  </div>
</div>