<h2>Términos de privacidad</h2>
	<p>Respetamos tu derecho a la mantener tu información privada.
	No daremos a conocer tu nombre o información personal a terceros.
	PayPal y MercadoPago son las encargadas de procesar todas las transacciones que se realizan a través de Soxialit, <i>nadie mas tendrá acceso a tu información de tarjetas de crédito ademas de ellos, tampoco nosotros</i>.</p>
	<h3>Información personal</h3>
	<p>Nos comunicaremos contigo a través del correo con el que te registraste, procuraremos ser objetivos y solamente te enviaremos la información relevante a tu cuenta y a tu actividad dentro de Soxialit.</p>
	<h3>Seguridad</h3>
	<p>Soxialit utiliza la tecnología SSL (Secure Sockets Layer), esta tecnología proporciona autenticación y privacidad de la información entre externos mediante el uso de criptografía. Para evitar ataques o algún comportamiento inusual dentro del sitio, Soxialit utiliza una herramienta estadística para monitorear las IP's a través de las cuales los usuarios permanecen en el sitio, esta información solamente se reconoce con fines de seguridad y privacidad.<br/>
	Soxialit hará lo posible por mantener la plataforma segura, sin embargo no es una garantía de que lo sea al 100%.</p>
	<h3>Preguntas</h3>
	<p>Cualquier pregunta ó sugerencia, por favor escríbenos a: <a href="mailto:info@soxialit.com?Subject=Privacidad">
	info@soxialit.com</a>.</p>