<p id="titleMainIdea">Ponemos tu talento en los ojos de miles de personas</p><hr/ >
<div id="about_body">
  <div class="row">
	  <div id="sell_designer">
	  	<span class="span4 offset1">
	  	<%= image_tag("designer1.jpg") %><%= image_tag("designer2.jpg") %><%= image_tag("designer3.jpg") %>
	  	</span>
	  	<span class="span7">
        <h2>Talento y Calidad sobre cantidad</h2>
        <p style="color:#777">Seleccionamos cuidadosamente los ítems, accesorios y prendas que se pueden vender.</p>
        <p style="color:#777">Tus items estarán listados con otros productos igual de increíbles que los tuyos.</p>
        <p style="color:#777"><i>¡Odiamos la piratería!</i></p>
	  	</span>
	  </div>
  </div><br/ >
  <h2>Te ayudamos a convertir tu pasión en un negocio</h2>
  <div class="row">
    <div id="sell_designer">
      <span class="span10 offset1">
        
      </span>
    </div>
  </div><br/ >
  <h2>¿Por qué vender en Soxialit?</h2>
  <div class="row">
	  <div id="sell_designer">
	  	<span class="span10 offset1">
	  		<p>Simple: <strong>Social Commerce</strong>. Tu propia página web o alguna solución de e-commerce tradicional no son suficientes: ¿Cómo conveneces a tus futuros clientes de que ingresen a tu sitio web? Soxialit reune a miles de personas que aman desesperadamente la moda igual o más que tú.</p>
	  	</span>
	  </div>
  </div><br/ >
  <h2>Tus items estarán listados en TRES simples pasos</h2>
  <div class="row">
  	<span class="span2 offset1">
  		<h2 style="text-align:center">1</h2>
  	</span>
  	<span class="span8">
  		<p>Crea una cuenta en Soxialit y selecciona el perfil de <i>Designer</i> o <i>Boutique Store</i>.</p>
  		<hr />
  	</span>
  </div>
  <div class="row">
  	<span class="span2 offset1">
  		<h2 style="text-align:center">2</h2>
  	</span>
  	<span class="span8">
  		<p>Ingresa a tu perfil y da click en <i>crear producto</i>. Llena la forma para crear el producto, y sube hasta cuatro fotografías.<br/ >
  		<span style="font-size:0.8em">* Revisa los <i>Ejemplos</i> y la <i>Guía de Fotos</i> para que conozcas el formato de las fotografías.</span>
  		</p>
  		<hr />
  	</span>
  </div>
  <div class="row">
  	<span class="span2 offset1">
  		<h2 style="text-align:center">3</h2>
  	</span>
  	<span class="span8">
  		<p>Si el formato de las fotografías y la información de tu producto son apropiados, tu item estará listado en menos de 12 horas.</p>
  		<hr />
  	</span>
  </div><br />
  <h2>Recibe tu dinero tan pronto confirmes que el producto está disponible</h2>
  <div class="row">
  	<span class="span10 offset1">
  		<p>Cuando alguien realice una compra recibirás un email inmediatamente; una vez confirmes que el producto está disponible y listo para ser enviado recibirás el dinero en tu Cuenta Bancaria o en tu Cuenta de PayPal en menos de 24 horas.</p>
  	</span>
  </div><br />
  <h2>Usa nuestro cotizador de envíos en tiempo real</h2>
  <div class="row">
  	<span class="span10 offset1">
  		<p>Nuestro cotizador de envíos usa Estafeta para calcular el precio del envío en tiempo real. Así tus clientes podrán saber - <i>en cualquier momento</i> - cuando llegarán sus items y tú te olvidarás de averiguar el precio del envío desde tu localidad.</p>
  	</span>
  </div>
</div>
<hr />
<p id="titleSecondIdea" style="font-size:1.8em" >| "Grandes Talentos Merecen Atención Infinita"</p>
<p style="margin-left:40px">Soxialit</p>