<div id="about_body">
  <h2 style="color:#DD390D; font-weight:normal">Qué puedes hacer con Soxialit</h2><br /><br />
  <div class="row">
    <span class="span4 offset1">
      <p style="font-size:1.6em; font-weight:normal; color:#444">Escribir Microposts</p>
      <p style="font-size:1.2em">Adriana es una blogger de Colombia que escribe sobre tendencias de moda en Hollywood.</p> 
      <p style="font-size:1.2em">Aunque tiene su propio blog, ella usa Soxialit para compartir extractos de los posts que están en su blog.</p>
      <p style="font-size:1.2em">Puede añadir imágenes, una frase que sugiere el tema del post y además 550 caracteres que sirven de introducción a su post original.</p>
      <p style="font-size:1.2em">Además, cada vez que publica un micropost en Soxialit, un mensaje en su Timeline de Facebook comunica a sus amigos que ha compartido un nuevo post.</p>
    </span>
    <span class="span7">
      <%= image_tag 'post.jpg' %>
    </span>
  </div>
  <br/ ><br/ ><br /><br />
  <div class="row">
    <span class="span6 offset1">
      <%= image_tag 'project.jpg' %>
    </span>
    <span class="span4">
      <p style="font-size:1.6em; font-weight:normal; color:#444">Publicar Proyectos Fotográficos</p>
      <p style="font-size:1.2em">Leslie, originaria de Argentina, es una fotografa profesional de modas.</p> 
      <p style="font-size:1.2em">Ella usa Soxialit para publicar proyectos en los que ha trabajado.</p>
      <p style="font-size:1.2em">Además de estar en contacto con otros fotografos, con Soxialit puede exponer su trabajo a diseñadores y boutiques que pueden estar interesados en sesiones de fotos y otros proyectos alternos.</p>
    </span>
  </div><br /><br /><br />
  <div class="row">
    <span class="span4 offset1">
      <p style="font-size:1.6em; font-weight:normal; color:#444">Vender Items</p>
      <p style="font-size:1.2em">Franco es un diseñador que reside en México.</p> 
      <p style="font-size:1.2em">Aún cuando distribuye sus prendas por otros canales de venta, Franco usa Soxialit para vender sus items.</p>
      <p style="font-size:1.2em">No sólo aprovecha Soxialit para vender a través de Internet sino también para conectar con sus seguidores, crecer su audiencia y la de su marca.</p>
    </span>
    <span class="span7">
      <%= image_tag 'item.jpg' %>
    </span>
  </div>
  <br/ ><br/ ><br /><br />
  <div class="row">
    <span class="span6 offset1">
      <%= image_tag 'link.jpg' %>
    </span>
    <span class="span4">
      <p style="font-size:1.6em; font-weight:normal; color:#444">Compartir lo que te gusta</p>
      <p style="font-size:1.2em">Gabriel es un aficionado de la moda y usa Soxialit para compartir links de sus sitios favoritos como GQ.</p>
      <p style="font-size:1.2em">Además de compartir links y almacenarlos como favoritos, está en contacto con bloggers y fotografos a los cuales admira, así como diseñadores con los que conecta regularmente a través de Soxialit.</p>
    </span>
  </div>
</div>