<div id="about_body">
  <div class="row">
    <span class="span11 offset1">
      <%= image_tag "fb_cover.png" %><br /><br />
      <p style="font-size:1.8em; font-family:acta-display; line-height:1.5em; color:#555">Soxialit es la historia de artistas emergentes que marcan tendencias: bloggers, diseñadores y fotógrafos que definen la Moda en nuestro tiempo, el estilo que elegimos, la manera en que vestimos y a quienes seguimos.</p>
      <hr />
      
    </span>
  </div>
</div>
<script type="text/javascript">mixpanel.track("About Page Loaded")</script>