<p id="titleMainIdea">Soxialit es una red social que conecta a los amantes de la moda.</p>
<hr />
<div id="about_body">
  <h2>¿Qué puedo hacer en Soxialit?</h2>
  <div class="row">
  	<span class="">
  	</span>
  </div>
  <div class="row">
  	<span class="">
  	</span>
  </div>
  <div class="row">
  	<span class="">
  	</span>
  </div>
</div>