<p id="titleMainIdea">Soxialit es una red social que conecta a los amantes de la moda</p>
<p id="titleSecondIdea">Descubre y comparte ítems, posts, fotografías y prendas hechas por creativos emergentes que aman la moda.</p>