<div style="text-align:right">
  <%= link_to image_tag('list_icon.png', width: '50px'), list_path(@group), remote: true, style: "color: red;", class: 'lista_link' %>  <%= link_to image_tag('square_icon.png', width: '30px'), square_path(@group), remote: true, class: 'square_link' %> 
</div>
<br /><br />
<% if @top.any? %>
  <ol class="microposts">
	<div id="ajax_top_stories">
	  <%= render :partial => 'groups/list', :collection => @top, :as => :story   %>
	</div>  
  </ol>
  <div class="row">
    <div style="display:none" class="span5 offset2">
      <%= will_paginate @top %>
    </div>
  </div>
  <div style="display:block" class="container">
  <div style="display:block" class="row">
    <div style="display:block;" class="span10 offset1">
      <div  style="display:block; margin:1em; font-size:1.4em" class="show_more" id="paginate_top">Ver más historias</div>
    </div>
  </div>
</div>
<% else %>
	<h3>Sé el primero en compartir una historia.</h3>
<% end %>

<script>
$(function(){
    $('.square_link').live('click', function(){
      $('.lista_link').css('color', 'rgb(0, 136, 204)');
      $(this).css('color', 'red');
    });

    $('.lista_link').live('click', function(){
      $('.square_link').css('color', 'rgb(0, 136, 204)');
      $(this).css('color', 'red');
    })
  });

$(function() {
 
  jQuery(function(){
    if ($('.pagination').length) {
      var url;
      //$('#paginate').show();
      $('#paginate_top').bind('click', function(){
        url = $('.pagination .next_page').attr('href');
        return $.getScript(url);
      });
    }
  });
});

$(function(){
  var a = $('.pagination').find('a').length;
  if (a < 0){
    $('#paginate_top').hide();
  }
});

$(function() {
  $('body').bind('ajaxComplete', function() {
   var a = $('.pagination').find('a').length;
    if (a < 1){
      $('#paginate_top').hide();
    }
  });
});
</script>