<div style="text-align:right">
	<%= link_to "LISTA", list_path(@group), remote: true, style: "color: red;", class: 'lista_link' %> | <%= link_to "SQUARE", square_path(@group), remote: true, class: 'square_link' %> 
</div>
<br /><br />
<% if @all_stories.any? %>
  <ol class="microposts">
    <div id="ajax_new_stories">
  	  <%= render :partial => 'groups/list', :collection => @new_stories, :as => :story   %>
	</div>
  </ol>
<% else %>
  <h3>Sé el primero en compartir una historia.</h3>
<% end %>