<div style="text-align:right">
	<%= link_to "LISTA", list_path(@group), remote: true, style: "color: red;", class: 'lista_link' %> | <%= link_to "SQUARE", square_path(@group), remote: true, class: 'square_link' %> 
</div>
<br /><br />
<% if @trend.any? %>
  <ol class="microposts">
	<div id="ajax_trend_stories">
	  <%= render :partial => 'list', :collection => @trend, :as => :story   %>
	</div>  
  </ol>
<% else %>
	<h3>Sé el primero en compartir una historia.</h3>
<% end %>

<script>
$(function(){
    $('.square_link').live('click', function(){
      $('.lista_link').css('color', 'rgb(0, 136, 204)');
      $(this).css('color', 'red');
    });

    $('.lista_link').live('click', function(){
      $('.square_link').css('color', 'rgb(0, 136, 204)');
      $(this).css('color', 'red');
    })


  });
</script>