<div class="modal-compra">
  <div style="max-height: 500px" class="modal-body">
	<button type="button" class="close-button" data-dismiss="modal" aria-hidden="true">X</button>
	<h3><%= @user.username %></h3>
	<hr>
	<%= @user.bio %>
  </div>
</div>

