
<div id="backpack" class="row">
 	<% @user.evaluations.each do |z| %>
 	  <div id="favorites_frame">
		<div id="favorites_image">
		  	<%= tag(:img, { :src => find_foto(z.target_id) }, false) %>
	 	</div>
	  </div>
 	<% end %>
</div>
