<div class="row">

	<div id="contenedor" class="clearfix masonry">
 		<% @user.evaluations.each do |z| %>
		<div id="favorites_image">
	  		<%= tag(:img, { :src => find_foto(z.target_id) }, false) %>
 		</div>
 		<% end %>
	</div>
</div>

<script type="text/javascript" language="javascript">
  		var wall = new Masonry( document.getElementById('contenedor'), {
			isFitWidth: true
		});
</script>
