<div class="row">
	<div id="tumblelog" class="clearfix masonry">
	 <% @user.evaluations.each do |z| %>
		<div class="story col2 masonry-brick">
			  	<%= tag(:img, { :src => find_foto(z.target_id) }, false) %>
		</div>
 	<% end %>
	</div>
</div>

<script>

    var wall = new Masonry( document.getElementById('tumblelog'), {
      columnWidth: 20
    });

</script>