<%= @items.each do |item| %>
  	<div class="row">
	  <div class="span9">  
		<div class="user_item">
		  <div class="user_item_photo">
			<%= link_to image_tag(item.picture.image_url(:picture_300), style: "text-align:center"), item)
		  </div>
		  <div class="user_item_info">
		  	<p style="font-size:1.2em; font-family:acta-display; text-align:center"><%= item.title %></p>
			<p style="font-size:1.2em; font-family:acta-display; text-align:center"><%= item.price %></p>
		  </div>
	    </div>
	  </div>
	</div>
	<br />
	<p style="font-size:1.2em; margin-top:1em; font-weight:lighter">*Envíos <b>Gratis</b> en cualquier compra.
	</p>
<% end %>