<div class="row">
  <div class="span9">  
	<div class="user_item">
	  <div class="user_item_photo">
		<img style="text-align:center" src="https://s3.amazonaws.com/soxialit/uploads/uploads/painting/image/316/picture_300_bolsa1_6_morado.jpg" border="0" alt=" photo GoogleChrome11_zps2cab3150.png"/>
	  </div>
	  <div class="user_item_info">
	  	<p style="font-size:1.2em; font-family:acta-display; text-align:center">Abrigo de Piel</p>
		<p style="font-size:1.2em; font-family:acta-display; text-align:center">$1800</p>
	  </div>
    </div>
    <div class="user_item">
	  <div class="user_item_photo">
		<img src="http://i1246.photobucket.com/albums/gg616/soxialit/GoogleChrome10_zps3cf6a6f0.png" border="0" alt=" photo GoogleChrome10_zps3cf6a6f0.png"/>
	  </div>
	  <div class="user_item_info">
	  	<p style="font-size:1.2em; font-family:acta-display; text-align:center">Clutch Github</p>
		<p style="font-size:1.2em; font-family:acta-display; text-align:center">$650</p>
	  </div>
    </div>
    <div class="user_item">
	  <div class="user_item_photo">
		<img src="http://i1246.photobucket.com/albums/gg616/soxialit/GoogleChrome9_zps6810f815.png" border="0" alt=" photo GoogleChrome9_zps6810f815.png"/>
	  </div>
	  <div class="user_item_info">
	  	<p style="font-size:1.2em; font-family:acta-display; text-align:center">Falda Estampada</p>
		<p style="font-size:1.2em; font-family:acta-display; text-align:center">$850</p>
	  </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span9">  
	<div class="user_item">
	  <div class="user_item_photo">
		<img src="http://i1246.photobucket.com/albums/gg616/soxialit/GoogleChrome11_zps2cab3150.png" border="0" alt=" photo GoogleChrome11_zps2cab3150.png"/>
	  </div>
	  <div class="user_item_info">
	  	<p style="font-size:1.2em; font-family:acta-display; text-align:center">Abrigo de Piel</p>
		<p style="font-size:1.2em; font-family:acta-display; text-align:center">$1800</p>
	  </div>
    </div>
    <div class="user_item">
	  <div class="user_item_photo">
		<img src="http://i1246.photobucket.com/albums/gg616/soxialit/GoogleChrome10_zps3cf6a6f0.png" border="0" alt=" photo GoogleChrome10_zps3cf6a6f0.png"/>
	  </div>
	  <div class="user_item_info">
	  	<p style="font-size:1.2em; font-family:acta-display; text-align:center">Clutch Github</p>
		<p style="font-size:1.2em; font-family:acta-display; text-align:center">$650</p>
	  </div>
    </div>
    <div class="user_item">
	  <div class="user_item_photo">
		<img src="http://i1246.photobucket.com/albums/gg616/soxialit/GoogleChrome9_zps6810f815.png" border="0" alt=" photo GoogleChrome9_zps6810f815.png"/>
	  </div>
	  <div class="user_item_info">
	  	<p style="font-size:1.2em; font-family:acta-display; text-align:center">Falda Estampada</p>
		<p style="font-size:1.2em; font-family:acta-display; text-align:center">$850</p>
	  </div>
    </div>
  </div>
</div>
<br />
<p style="font-size:1.2em; margin-top:1em; font-weight:lighter">*Envíos <b>Gratis</b> en cualquier compra.
</p>