<% @products.each do |product| %>
	<div id="mis_items_frame">
		<div class="row">
			<span class="span6">
				<span id="mi_image">
				<%= image_tag product.picture %>
				</span>
			</span>
			<span class="span5">
				<div id="mi_title">
					<%= link_to "Apricot Low V-neck Woven Figur", "" %>
				</div>
				<p id="mi_brand">by <strong>Macandi</strong></p>
				<p id="mi_description">"Make a big impression in a dress chosen from our collection, which includes dresses in bright colors or classic red, black, grey or white. Whether you are looking for a flirty cocktail dress, a cute"</p>
				<div id="mi_view_more">
					<%= link_to "Ver Detalles", product_path(product) %> 
				</div>
				<p id="mi_price">$599
					<span style="margin-left:2%"><%= link_to "Comprar", "", :class => "button-want" %></span>
				</p>
			</span>
		</div>
	</div>
<% end %>