<div id="ajax-status" style="float:left; display:none; margin: 0 50% 0 50%; z-index: 3000"><%= image_tag("ajax-loader.gif") %></div>
<div class="row">
  <div style="margin-top:2em" class="span9">
    <% if @users.any? %>
      <ul id="followers">
          <%= render @users %>
      </ul>
    <% end %>
  </div>
</div>