<% if user_signed_in?%>
	<% if current_user.roles.first.name == "admin" %>
		<h1>Listing pictures</h1>

		<table>
		  <tr>
		    <th>Project</th>
		    <th>Image</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>

		
		</table>

		<br />

		<%= link_to 'New Picture', new_picture_path %>
	<% else %>
		<h1>¡Hey, por ahora no puedes ver esta página!</h1>
		<%= link_to "<- Regresar",  root_path %>
	<% end %>
<% end %>
	
