<%= form_for(@feedback) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <p style="font-size:1.8em; margin-bottom:0.8em; margin-top:2em"><span style="font-size:1.1em; margin-right:0.8em">2</span>¡Compártenos lo que más te gustá de <strong>Soxialit</strong>! Let it go:<p>	
    <%= f.text_area :content, rows: "10", :class => "span10" %>
  </div>

  <div style="float:right; margin-right:5%" class="actions">
    <%= f.submit "Enviar", :class => "button-want" %>
  </div>
<% end %>