<div class="hero-unit">
	<%= render 'form' %>
</div>
<div class="row">
	<p style="text-align:center; font-size:1.6em; font-weight:lighter">¡Si tienes dudas específicas mandanos un tweet a <%= link_to "@Soxialit", "https://twitter.com/soxialit" %>, te responderemos enseguida!</p>
</div>
<script type="text/javascript">mixpanel.track("Feedback Page Loaded")</script>