<%= render 'layouts/header' %>

<div class="hero-unit">
	<%= render 'form' %>
</div>

<script type="text/javascript">
    mixpanel.track("Feedback Page Loaded")
</script>

<%= render 'layouts/footer' %>