<div class="modal-soxialit">
  <div class="modal-body">
	<button type="button" class="close-button" data-dismiss="modal" aria-hidden="true">X</button>
	<%=  @micropost.url %>
	<%= image_tag(@micropost.thumbnail) %>
 </div>
</div>