<div id="modal-micropost"></div>
<div style="display:block" id="contenedor" class="clearfix masonry">
	<%= render @microposts %>
</div>

<div style="display:none"><%= will_paginate(@microposts)%></div>
<div style="display:block" class="container">
	<div style="display:block" class="row">
		<div style="display:block" class="span10 offset1">
			<div  style="display:block" class="show_more" id="paginate">Ver mas Posts</div>
		</div>
	</div>
</div>

<script type="text/javascript">

$(function() {
 
jQuery(function(){
	if ($('.pagination').length) {
		var url;
		//url = $('.pagination .next_page').attr('href');
		$('#paginate').show();
		$('#paginate').bind('click', function(){
			url = $('.pagination .next_page').attr('href');
			return $.getScript(url);
		});
	}
});

</script>

<script type="text/javascript">mixpanel.track("Microposts Feed")</script>
