<div id="modal-micropost"></div>
<div id="contenedor" class="clearfix masonry">
	<%= render @microposts %>
</div>

<script type="text/javascript">

$(function() {
  $('body').bind('ajaxComplete', function() {
	var wall = new Masonry( document.getElementById('contenedor') );
  });
});

</script>


<script type="text/javascript">mixpanel.track("Microposts Feed")</script>
