.modal-micropost {
  position: relative;
  top: 0%;
  left: 0%;
  z-index: 1050;
  width: 800px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}


#modal-micropost{
	position: fixed;
	top: 0;
	display:block;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
    z-index: 2040;
	display: none;
   background-color: transparent;
}


#description_micropost{
	font-size: 1.1em;
	color:#999999;
	display: block;
	font-weight:lighter;
	text-align:left;
	max-height: 244px;
	overflow:hidden;
}

.show_more{
	background: #f4f4f4;
	color: #000;
	display:none;
	text-align: center;
	padding: 8px 0;
	cursor: pointer;
	width: 100%;
	margin: 0 auto;
}


#ui-filter-menu{
	display: inline-block;
	width: 100%;
	float: left;
	list-style: none;
	border: 1px solid #e8e8e8;
	-webkit-box-shadow: 1px 6px 12px -6px #c6c6c6;
	box-shadow: 1px 6px 12px -6px #c6c6c6;
}

.filter{
	margin-left: 41px;
	padding-left: 12px;
	padding-right: 30px;
	padding: 15px 0px 14px 0px;
	min-width: 12%;
	font-size: 11px;
	width: 14.71%;
	color: #424242;
	position: relative;
	float: left;
	text-transform: uppercase;
	font-weight: bold;
	white-space: nowrap;

	span{
		font-size: 11px;
		color: #424242;
		text-transform: uppercase;
		font-weight: bold;
		white-space: nowrap;
		list-style: none;
	}
}

.ui-filter-menu-item{
	margin-left: -16px;
	padding-left: 12px;
	padding-right: 30px;
	padding: 15px 13px 14px 31px;
	min-width: 12%;
	font-size: 11px;
	width: 14.71%;
	color: #424242;
	position: relative;
	float: left;
	text-transform: uppercase;
	font-weight: bold;
	white-space: nowrap;
	
	span{
		font-size: 11px;
		color: #424242;
		text-transform: uppercase;
		font-weight: bold;
		white-space: nowrap;
		list-style: none;
	}
	
	a{
		color: #424242;
		text-decoration:none;
	}
	a:hover{
		color:#dd390d;
		text-decoration:none;
	}
}