// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box {
  margin: 5px;
  background: white;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  width: 280px;
}

.image{
	width: 250px;
	height: 250px;
	float: left;
	padding: 0px; 
	margin: 30px;
	position: relative;

}
.box img{
	margin-left: 10%;
  
}

#reputation{
	display: none;
	position: absolute;
	top: 0px;
    width: 250px;
	z-index: 1000;
	color: white;
	background-color: rgba(0,0,0,0.5);
    text-align: center;
  
}
#reputation span{
  	font-weight:bold;
	color:white;
}

.product_title{
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #7D7D7D;
	line-height: 16px;
	text-align: left;
	cursor: default;
	float: left;
	display: block;
	margin-left: 10px;
 
	strong{
		color: #363636;
	}
}

#votacion{
	display: none;
	position: absolute;
	left: 5px;
	top: 250px;
}

.button-have {
   border-top: 1px solid #41d078;
   background: #41d078;
   background: -webkit-gradient(linear, left top, left bottom, from(#41d078), to(#41d078));
   background: -webkit-linear-gradient(top, #41d078, #41d078);
   background: -moz-linear-gradient(top, #41d078, #41d078);
   background: -ms-linear-gradient(top, #41d078, #41d078);
   background: -o-linear-gradient(top, #41d078, #41d078);
   padding: 7px 15px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
   
.button-have:hover {
   border-top-color: #21a654;
   background: #21a654;
   color: #ffffff;
   text-decoration:none;

   }
.button-have:active {
   border-top-color: #30a65d;
   background: #30a65d;
   }


.button-want {
   border-top: 1px solid #ff5a54;
   background: #ff5a54;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff5a54), to(#ff5a54));
   background: -webkit-linear-gradient(top, #ff5a54, #ff5a54);
   background: -moz-linear-gradient(top, #ff5a54, #ff5a54);
   background: -ms-linear-gradient(top, #ff5a54, #ff5a54);
   background: -o-linear-gradient(top, #ff5a54, #ff5a54);
   padding: 7px 15px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;

   }
.button-want:hover {
   border-top-color: #d93e38;
   background: #d93e38;
   color: #ffffff;
	text-decoration:none;

   }

.button-want a{
	text-decoration:none;

}
.button-want:active {
   border-top-color: #d42e28;
   background: #d42e28;
}


/* Button Comment */

.button-comment {
   border-top: 1px solid #ff5a54;
   background: #ff5a54;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff5a54), to(#ff5a54));
   background: -webkit-linear-gradient(top, #ff5a54, #ff5a54);
   background: -moz-linear-gradient(top, #ff5a54, #ff5a54);
   background: -ms-linear-gradient(top, #ff5a54, #ff5a54);
   background: -o-linear-gradient(top, #ff5a54, #ff5a54);
   padding: 3px 7px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: whiteSmoke;
   font-size: 16px;
   font-family: nimbus-sans,'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;

   }
.button-comment:hover {
   border-top-color: #d93e38;
   background: #d93e38;
   color: #ffffff;
   text-decoration:none;

   }

.button-comment a{
  text-decoration:none;

}
.button-comment:active {
   border-top-color: #d42e28;
   background: #d42e28;
}

/* Mis Items Ajax */

#mis_items_frame{
  padding:1%;
  border-top: 1px solid #eeeeee;
}

#mi_image img{
  padding:1%;
  float:right;
}

#mi_title{ 
  margin:4% 4% 2% 0;
a{
  color: #404040;
  text-decoration: none;
  font-size:1.7em;
  
}
a:hover{
  color:#DD390D;
}
}

#mi_brand{
  color: #eeeeee;
  font-size:1.2em;
}

#mi_description{
  color:#404040;
  font-size:1em;
  margin:0%;
}

#mi_view_more{
  margin: 0% 0% 5% 0%;
   a{
  color:#93999E;
  font-size:0.8em;
  }
   a:hover{
  color:black;
  text-decoration: none; 
  }
}

#mi_price{
  color: #404040;
  font-size:2em;
}

/* Mis Items Ajax */


/*Imagen principal del producto*/
.defaultMainImage
{width:470px;height:496px;border:2px ridge #cbccce;background:url(camara.png) no-repeat 50% 50%; }

body { padding-top: 100px; }
footer { margin-top: 100px; }
td.picture { width: 140px; }
td.picture img { width: 140px; }

#smallImage
{width:100px;list-style: none; height:100px;border:2px ridge #cbccce;background:url(camara_thumb.png) no-repeat 50% 50%;}

#image_small
{width:100px;list-style: none; height:100px;border:2px ridge #cbccce;background:url(camara_thumb.png) no-repeat 50% 50%;}

.remove_painting{
	float:right;
	margin-top: 65%;
	margin-right: -23%;
}

/* ******** */