// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_frame{
	margin:3%;
	text-align:center;
	padding:15px;
	margin-top:1%;
	left: -10%;
	display: block;
	position: relative;
	background-color: white;
	border: 1px solid #DDDDDD;
}
