// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.literatura{
	font-size: 1em;
	line-height: 1.6em;
}

.literatura-link{
	font-size: 1em;
	line-height: 1.6em;
	cursor:pointer;
}


.back_to_top{position:fixed;bottom:20%;right:16px;z-index:15000;background:#000;text-align:center;text-transform:uppercase;font-size:11px;padding:22px 20px;color:#fff!important;-webkit-border-top-left-radius:2px;-webkit-border-top-right-radius:2px;-moz-border-radius-topleft:2px;-moz-border-radius-topright:2px;border-top-left-radius:2px;border-top-right-radius:2px}.back_to_top:hover{text-decoration:none}.primaryheader_wrapper{display:block;width:100%;height:40px;border-bottom:1px solid #e5e5e5;background:#fff;position:relative;top:0;z-index:2000;box-shadow:2px 2px 2px rgba(204,204,204,0.2)}

