<% provide(:title, 'Shop') %>
<div style="-webkit-box-shadow: rgba(0, 0, 0, 0.246094) 0px 1px 2px 1px;
border-bottom-left-radius: 1px;
border-bottom-right-radius: 1px;
border-top-left-radius: 1px;
border-top-right-radius: 1px;
box-shadow: rgba(0, 0, 0, 0.246094) 0px 1px 2px 1px;
box-sizing: border-box;" class="container">
	<div style="background-color:white"class="span12">  
		<% @products.each do |item| %>
			<div style="margin: 2% 7% 3% 5%" class="user_item">
		  		<div class="user_item_photo">
					<%= link_to image_tag(item.picture, style: "text-align:center; max-height: 300px"), item %>
		  		</div>
		  		<div class="user_item_info">
		  			<p style="font-size:1.2em; font-family:acta-display; text-align:center"><%= item.title %></p>
					<p style="font-size:1.2em; font-family:acta-display; text-align:center"><%= number_to_currency(item.price) %></p>
		  		</div>
	    	</div>
		<% end %>    
	  </div>
	</div>
	<br />
	<p style="font-size:1.2em; margin-top:1em; font-weight:lighter">*Envíos <b>Gratis</b> en cualquier compra.
	</p>



<script type="text/javascript">

$(document).ready(function(){
  $('#profile_nav_botton').css({ boxShadow: '1px 3px 6px #444' });
  });
	
$('.user_item').live({
	mouseenter: 
	function(e){
		$(this).css("box-shadow", "0px 1px 1px 3px #d0d0d0");
		
	},
	mouseleave:
	function (e){
		e.preventDefault();
		$(this).css("box-shadow", "none");
	}
});

mixpanel.track("Random Page Loaded")

</script>