<div class="row">
	<% if current_user.id == 20 || current_user.id == 4 || current_user.id == 11 || current_user.id == 65 || current_user.id == 27 || current_user.id == 47 || current_user.id == 16 || current_user.id == 265 || current_user.id == 67  %>
		<%= render 'form' %>
	<% else %>
		<%= render 'form_simple' %>
	<% end %>
</div>

