<div id="unsigned" class="footer" style="margin-top:1em">
  <div style="margin-bottom:2em" class="row">
    <div id="footer_login" class="span8" style="margin-left:25%">
      <%= image_tag "fb_cover.png" %>
      <p style="font-family:acta-display; font-size:1.6em; line-height:1.4em; text-align:center; margin-top:1.5em">"Conecta con la comunidad en Soxialit y deja que el mundo descubra tu talento y pasión por la moda"</p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="span3 offset1">
      <%= image_tag "love.png" %>
    </div>
    <div class="span2 offset4">
       <a href="https://twitter.com/Soxialit" class="twitter-follow-button" data-show-count="true">Follow @Soxialit</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      </script>
    </div>
    <div class="span1 offset1">
       <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fsoxialit&amp;send=false&amp;layout=standard&amp;width=100&amp;show_faces=true&amp;font=verdana&amp;colorscheme=dark&amp;action=like&amp;height=90&amp;appId=439343236107925" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:90px;" allowTransparency="true"></iframe>
    </div>
  </div>
</div>