<div id="unsigned" class="footer" style="margin-top:1em">
  <div class="row">
    <div class="span8 offset2">
      <h3>Soxialit es una red social que conecta a los amantes de la Moda.</h3>
      <p>Conecta con la comunidad y deja que el mundo descubra tu talento y pasión por la Moda.</p>
    </div>
    <div class="span2 offset1" style="margin-top:2em">
      <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fsoxialit&amp;send=false&amp;layout=standard&amp;width=100&amp;show_faces=true&amp;font=verdana&amp;colorscheme=dark&amp;action=like&amp;height=90&amp;appId=439343236107925" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:90px;" allowTransparency="true"></iframe>
    </div>
  </div>
  <div class="row">
    <div class="span3 offset2">
     <%= image_tag "love.png" %>
    </div>
    <div class="span3 offset2">
       <a href="https://twitter.com/Soxialit" class="twitter-follow-button" data-show-count="true">Follow @Soxialit</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>