<div id="unsigned" class="footer" style="margin-top:1em">
  <div style="margin-bottom:2em" class="row">
    <div id="footer_login" class="span11 offset2">
      <%= image_tag "fb_cover.png" %>
      <p style="font-family:acta-display; font-size:1.6em; line-height:1.4em; text-align:center; margin-top:1.5em">"Conecta con la comunidad en Soxialit y deja que el mundo descubra tu talento y pasión por la moda"</p>
    </div>
  </div>
  <hr />
  
</div>