<div id="unsigned" class="footer">
  <div style="margin-bottom:2em" class="row">
    <span id="footer_login" class="span10 offset3">
      <h3>Soxialit es una comunidad de artistas, creativos y personas que aman la moda.</h3>
      <p>Conecta con la comunidad en Soxialit y deja que el mundo descubra tu talento y pasión por la moda.</p><br />
      <p style="text-align:right"><%= link_to "Ingresa a la Comunidad", 
                        user_omniauth_authorize_path(:facebook), class: "button-want" %></p><br />
    </span>
  </div>
  <hr />
  <div class="row">
    <div class="span1 offset1">
      <p style="font-size:0.8em; color:whiteSmoke">&#169; Soxialit</p>
    </div>
    <div class="span3">
      <p><a href="http://blog.soxialit.com"
      onmousedown="_gaq.push(['_trackEvent', 'Footer Links', 'Check blog OnMouse', 'Tumblr Blog OnMouse']);">Blog
      </a>&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div>
    <div class="span2 offset4">
       <a href="https://twitter.com/Soxialit" class="twitter-follow-button" data-show-count="true">Follow @Soxialit</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      </script>
    </div>
    <div class="span1 offset1">
       <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fsoxialit&amp;send=false&amp;layout=standard&amp;width=100&amp;show_faces=false&amp;font=verdana&amp;colorscheme=dark&amp;action=like&amp;height=90&amp;appId=439343236107925" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:90px;" allowTransparency="true"></iframe>
    </div>
  </div>
  <div style="margin-top:1em" class="row">
    <div style="position:relative; bottom:-370px" class="span6 offset1">
      <%= image_tag "love.png" %>
    </div>
    <div style="text-align:right" class="span8">
      <%= image_tag "footer1.jpg" %>
    </div>
  </div>
</div>