<div id="header_unsigned">
  <div class="row">
    <span class="span11 offset1">
      <div style="opacity:0.8; filter:alpha(opacity=40);" class="well">
      <p>Descubre, Compra y Comparte Moda</p>
      <h4>Soxialit te conecta con diseñadores, bloggers, fotógrafos y otros <i>fashion lovers</i> para que descubras y compartas tu talento y tu pasión por la moda.
      </h4>
      </div>
    </span>
  </div>  
  <div style="margin-top:16em" class="row">
  </div>
</div>